/***
Default theme
***/
/***
Reset and overrides  
***/
body {
    background: url(../images/main/menu_bg.png) !important;
    /*background-color: #3d3d3d;*/
}

/***
Page header
***/
.header .navbar-inner {
    background-color: #F87321;
    background-image: -moz-linear-gradient(top, #F67323, #F43D05);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F67323), to(#F43D05));
    background-image: -webkit-linear-gradient(top, #F67323, #F43D05);
    background-image: -o-linear-gradient(top, #F67323, #F43D05);
    background-image: linear-gradient(to bottom, #fF67323, #F43D05);
    background-repeat: repeat-x;
    border-bottom: 1px solid #DDDDDD !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f0f0f0', GradientType=0) !important;
    *zoom: 1 !important;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.065) !important;
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.065) !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.065) !important;
    color: #47423f;
}

.header .btn-navbar {
    background-color: #d5d5d5;
}

.header .nav .dropdown-toggle:hover,
.header .nav .dropdown.open .dropdown-toggle {
    background-color: #F43D05 !important;
}

.header .nav .dropdown-toggle{
    color: #fafafa !important;
}

.header .nav li.dropdown .dropdown-toggle i {
    color: #fafafa !important;
}

/***
Page sidebar
***/
.page-sidebar {
    /*background-color: #e3e3e3 !important;*/
    background: url(../images/main/menu_bg.png) repeat !important;
    /*z-index:-1;*/
}

ul.page-sidebar-menu > li > a {
    border-top: 1px solid #616161;
    color: #47423f;
    /*-webkit-transition: all 0.4s ease-in-out;*/
    /*-moz-transition: all 0.4s ease-in-out;*/
    /*-o-transition: all 0.4s ease-in-out;*/
    /*-ms-transition: all 0.4s ease-in-out;*/
    -moz-border-radius-topleft: 40px !important;
    -webkit-border-top-left-radius: 40px !important;
    border-top-left-radius: 40px !important;
}

/*ul.page-sidebar-menu > li.open > a {*/
/*border-bottom: 1px solid #307b99;*/
/*}*/

ul.page-sidebar-menu > li.active > a {
    background: #e02222 !important;
    border-top-color: transparent !important;
    color: #ffffff;
}

ul.page-sidebar-menu > li.active > a i {
    color: #ffffff;
}

ul.page-sidebar-menu > li > ul.sub-menu > li:first-child > a {
    border-top: 0 !important;
}

ul.page-sidebar-menu > li.open > a,
ul.page-sidebar-menu > li > a:hover {
    font-weight: 700 !important;
    /*-webkit-transition: all 0.3s ease;*/
    /*-moz-transition: all 0.3s ease;*/
    /*-o-transition: all 0.3s ease;*/
    /*-ms-transition: all 0.3s ease;*/
}

/*ul.page-sidebar-menu > li.open > a i,*/
/*ul.page-sidebar-menu > li:hover > a i {*/
/*font-weight: 700;*/
/*}*/

/* 3rd level sub menu */
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.selected > a,
    /*ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.active > a,*/
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li > a:hover {
    background: #cccccc;
}

/* 4th level sub menu */
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.open > ul.sub-menu > li > a:hover,
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.open > ul.sub-menu > li.selected > a {
    background: #cccccc;
}

/* 3rd level sub menu */
ul.page-sidebar-menu > li > ul.sub-menu li > a:hover,
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li > a:hover {
    background: #cccccc;
}

ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li > a:last-child:hover {
    border-bottom: 0;
}

/* font color for all sub menu links*/
ul.page-sidebar-menu li > ul.sub-menu > li > a {
    color: #47423f;
    /*  border-bottom: 1px solid #F8F8F8;
        border-top: 1px solid #F8F8F8;*/
}

/* menu arrows 
ul.page-sidebar-menu > li > a .arrow:before,
ul.page-sidebar-menu > li > a .arrow.open:before {
    color: #47423f !important;
}
ul.page-sidebar-menu > li > ul.sub-menu a .arrow:before,
ul.page-sidebar-menu > li > ul.sub-menu a .arrow.open:before {
    color: #47423f !important;
}
ul.page-sidebar-menu > li > a > .arrow.open:before {
    color: #f7f7f7 !important;
}
ul.page-sidebar-menu > li.active > a .arrow:before,
ul.page-sidebar-menu > li.active > a .arrow.open:before {
    color: #ffffff !important;
}
*/

/* sidebar search */
.page-sidebar .sidebar-search input {
    background-color: none !important;
    color: #7d7d7d;
}

.page-sidebar .sidebar-search input::-webkit-input-placeholder {
    color: #7d7d7d !important;
}

.page-sidebar .sidebar-search input:-moz-placeholder {
    color: #7d7d7d !important;
}

.page-sidebar .sidebar-search input:-ms-input-placeholder {
    color: #7d7d7d !important;
}

.page-sidebar .sidebar-search input {
    background-color: none !important;
    color: #47423f !important;
}

/*.page-sidebar .sidebar-search .input-box {
    border-bottom: 1px solid gray !important;
}*/

.page-sidebar .sidebar-search .submit {
    background-image: url(../img/search-icon.png);
}

/***
Sidebar toggler
***/
.sidebar-toggler {
    /*background-image: url(../img/syncfusion-icons-white.png);*/
    background-color: #fcfcfc !important;
    border: 1px solid #b3b3b3 !important;
    border-bottom: 2px solid #b3b3b3 !important;
}

/* search box bg color on expanded */
.page-sidebar-closed .page-sidebar .sidebar-search.open {
    background-color: #eee !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .remove {
    background-image: url("../../img/sidebar-search-close.png");
}

/* sub menu bg color on hover menu item */
.page-sidebar-closed ul.page-sidebar-menu > li:hover .sub-menu {
    background-color: #eee;
}

.page-sidebar-closed ul.page-sidebar-menu .sidebar-toggler .m-icon-swapleft {
    background-position: -27px -10px;
}

/***
Horizontal Menu(new in v1.2)
***/
/*search*/
.header .hor-menu .hor-menu-search-form-toggler.hide {
    background: #000000 url(../../img/hor-menu-search-close.png) no-repeat center;
}

.header .hor-menu .search-form {
    background: #000000;
}

.header .hor-menu .search-form .btn {
    color: #d6d6d6;
    background: #000000 url(../../img/search-icon.png) no-repeat center;
}

.header .hor-menu .search-form form input {
    color: #d6d6d6;
}

.header .hor-menu .search-form form input::-webkit-input-placeholder {
    /* WebKit browsers */

    color: #d6d6d6;
}

.header .hor-menu .search-form form input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */

    color: #d6d6d6;
}

.header .hor-menu .search-form form input::-moz-placeholder {
    /* Mozilla Firefox 19+ */

    color: #d6d6d6;
}

.header .hor-menu .search-form form input:-ms-input-placeholder {
    /* Internet Explorer 10+ */

    color: #d6d6d6;
}

/***
Footer 
***/
.footer .footer-inner {
    color: #999999;
}

.footer .footer-tools .go-top {
    background-color: #4f4f4f;
}

.footer .footer-tools .go-top:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.footer .footer-tools .go-top i {
    color: #8a8a8a;
}

/***
Footer Layouts (new in v1.3)
***/
/* begin:fixed footer */
.page-footer-fixed .footer {
    background-color: #242424;
}

.page-footer-fixed .footer .footer-inner {
    color: #999999;
}

.page-footer-fixed .footer .footer-tools .go-top {
    background-color: #4f4f4f;
}

.page-footer-fixed .footer .footer-tools .go-top i {
    color: #8a8a8a;
}

/* end:fixed footer */
/***
Gritter Notifications 
***/
.gritter-top {
    background: url(../../plugins/gritter/images/gritter.png) no-repeat left -30px !important;
}

.gritter-bottom {
    background: url(../../plugins/gritter/images/gritter.png) no-repeat left bottom !important;
}

.gritter-item {
    display: block;
    background: url(../../plugins/gritter/images/gritter.png) no-repeat left -40px !important;
}

.gritter-close {
    background: url(../../plugins/gritter/images/gritter.png) no-repeat left top !important;
}

.gritter-title {
    text-shadow: none !important;
    /* Not supported by IE :( */

}

/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
    background-image: url(../../plugins/gritter/images/gritter-light.png) !important;
}

.gritter-item-wrapper a {
    color: #18a5ed;
}

.gritter-item-wrapper a:hover {
    color: #0b6694;
}

/* begin: boxed page */
@media (min-width: 980px) {
    .page-boxed {
        background-color: #2e2e2e !important;
    }

    .page-boxed .page-container {
        background-color: #d5d5d5;
        border-left: 1px solid #5e5e5e;
        border-bottom: 1px solid #5e5e5e;
    }

    .page-boxed.page-sidebar-fixed .page-container {
        border-left: 0;
        border-bottom: 0;
    }

    .page-boxed.page-sidebar-fixed .page-sidebar {
        border-left: 1px solid #5e5e5e;
    }

    .page-boxed.page-sidebar-fixed.page-footer-fixed .footer {
        background-color: #2e2e2e !important;
    }
}

/* end: boxed page */
/***
Landscape phone to portrait tablet
***/
@media (max-width: 979px) {
    /***
      page sidebar
      ***/
    .page-sidebar {
        background-color: none !important;
    }

    ul.page-sidebar-menu > li > a {
        border-top: 1px solid #dfdfdf;
    }

    ul.page-sidebar-menu > li:last-child > a {
        border-bottom: 0 !important;
    }

    .page-sidebar .sidebar-search input {
        background-color: none !important;
    }
}

