/* Hover dos icones do menu*/
ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover i,
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li > a:hover i,
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.selected > a > i {
    color: #47423f !important;
}

/* Clase padrao do portlet*/
div.portlet.box.tipo-modulo-default {
    background-color: #47423f;
    border: 1px solid #47423f;
}

/* CLASSE GESTÃO MÉDICA (.gestao-medica) */
/*Cor dos tipos de módulo */
ul.page-sidebar-menu > li.gestao-medica > a {
    color: #92a454;
    border-left: 0px solid #92a454;
    border-top: 0px solid #92a454;
}

ul.page-sidebar-menu > li.gestao-medica.tipo-modulo.open:after {
    background: #92a454;
}

/*Cor do portlet*/
.portlet.box.gestao-medica {
    background-color: #92a454;
    border: 1px solid #92a454;
}

.portlet.box.gestao-medica > .portlet-title > .caption i.icon-stack-1x {
    color: #92a454;
}

/* Cor dos módulos */
ul.page-sidebar-menu > li.gestao-medica > ul.sub-menu > li > a {
    border-left: 10px solid #92a454;
}

/* Hover dos módulos */
ul.page-sidebar-menu > li.gestao-medica > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.gestao-medica > ul.sub-menu > li > a:hover {
    background: #92a454;
}

/* Cor do icone dos módulos */
ul.page-sidebar-menu > li.gestao-medica > ul.sub-menu > li > a > i {
    color: #92a454;
}

/* Cor dos items de menu */
ul.page-sidebar-menu > li.gestao-medica > ul.sub-menu li > ul.sub-menu > li > a {
    border-left: 10px solid #a7b676;
}

/* Cor do icone dos items de menu */
ul.page-sidebar-menu > li.gestao-medica > ul.sub-menu li > ul.sub-menu > li > a > i {
    color: #a7b676;
}

ul.page-sidebar-menu > li.gestao-medica > ul.sub-menu li > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.gestao-medica > ul.sub-menu li > ul.sub-menu > li > a:hover {
    background: #a7b676;
}

/* Cor dos items de menu filhos*/
ul.page-sidebar-menu > li.gestao-medica > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
    border-left: 10px solid #bdc898;
}

ul.page-sidebar-menu > li.gestao-medica > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.gestao-medica > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a:hover {
    background: #bdc898;
}

/* CLASSE EMPRESA(.empresa) */
/*Cor dos tipos de módulo */
ul.page-sidebar-menu > li.empresa > a {
    color: #70a2b4;
    border-left: 0px solid #70a2b4;
    border-top: 0px solid #70a2b4;
}

ul.page-sidebar-menu > li.empresa.tipo-modulo.open:after {
    background: #70a2b4;
}

/*Cor do portlet*/
.portlet.box.empresa {
    background-color: #70a2b4;
    border: 1px solid #70a2b4;
}

.portlet.box.empresa > .portlet-title > .caption i.icon-stack-1x {
    color: #70a2b4;
}

/* Cor dos módulos */
ul.page-sidebar-menu > li.empresa > ul.sub-menu > li > a {
    border-left: 10px solid #70a2b4;
}

/* Hover dos módulos */
ul.page-sidebar-menu > li.empresa > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.empresa > ul.sub-menu > li > a:hover {
    background: #70a2b4;
}

/* Cor do icone dos módulos */
ul.page-sidebar-menu > li.empresa > ul.sub-menu > li > a > i {
    color: #70a2b4;
}

/* Cor dos items de menu */
ul.page-sidebar-menu > li.empresa > ul.sub-menu li > ul.sub-menu > li > a {
    border-left: 10px solid #8cb4c3;
}

/* Cor do icone dos items de menu */
ul.page-sidebar-menu > li.empresa > ul.sub-menu li > ul.sub-menu > li > a > i {
    color: #8cb4c3;
}

ul.page-sidebar-menu > li.empresa > ul.sub-menu li > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.empresa > ul.sub-menu li > ul.sub-menu > li > a:hover {
    background: #8cb4c3;
}

/* Cor dos items de menu filhos*/
ul.page-sidebar-menu > li.empresa > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
    border-left: 10px solid #a9c7d2;
}

ul.page-sidebar-menu > li.empresa > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.empresa > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a:hover {
    background: #a9c7d2;
}

/* CLASSE ADMINISTRACAO(.administracao) */
/*Cor dos tipos de módulo */
ul.page-sidebar-menu > li.administracao > a {
    color: #d67167;
    border-left: 0px solid #d67167;
    border-top: 0px solid #d67167;
}

ul.page-sidebar-menu > li.administracao.tipo-modulo.open:after {
    background: #d67167;
}

/*Cor do portlet*/
.portlet.box.administracao {
    background-color: #d67167;
    border: 1px solid #d67167;
}

.portlet.box.administracao > .portlet-title > .caption i.icon-stack-1x {
    color: #d67167;
}

/* Cor dos módulos */
ul.page-sidebar-menu > li.administracao > ul.sub-menu > li > a {
    border-left: 10px solid #d67167;
}

/* Hover dos módulos */
ul.page-sidebar-menu > li.administracao > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.administracao > ul.sub-menu > li > a:hover {
    background: #d67167;
}

/* Cor do icone dos módulos */
ul.page-sidebar-menu > li.administracao > ul.sub-menu > li > a > i {
    color: #d67167;
}

/* Cor dos items de menu */
ul.page-sidebar-menu > li.administracao > ul.sub-menu li > ul.sub-menu > li > a {
    border-left: 10px solid #de8d85;
}

/* Cor do icone dos items de menu */
ul.page-sidebar-menu > li.administracao > ul.sub-menu li > ul.sub-menu > li > a > i {
    color: #de8d85;
}

ul.page-sidebar-menu > li.administracao > ul.sub-menu li > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.administracao > ul.sub-menu li > ul.sub-menu > li > a:hover {
    background: #de8d85;
}

/* Cor dos items de menu filhos*/
ul.page-sidebar-menu > li.administracao > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
    border-left: 10px solid #e6a9a3;
}

ul.page-sidebar-menu > li.administracao > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.administracao > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a:hover {
    background: #e6a9a3;
}

/* CLASSE GESTAO-RISCO(.gestao-risco) */
/*Cor dos tipos de módulo */
ul.page-sidebar-menu > li.gestao-risco > a {
    color: #dd9551;
    border-left: 0px solid #dd9551;
    border-top: 0px solid #dd9551;
}

ul.page-sidebar-menu > li.gestao-risco.tipo-modulo.open:after {
    background: #dd9551;
}

/*Cor do portlet*/
.portlet.box.gestao-risco {
    background-color: #dd9551;
    border: 1px solid #dd9551;
}

.portlet.box.gestao-risco > .portlet-title > .caption i.icon-stack-1x {
    color: #dd9551;
}

/* Cor dos módulos */
ul.page-sidebar-menu > li.gestao-risco > ul.sub-menu > li > a {
    border-left: 10px solid #dd9551;
}

/* Hover dos módulos */
ul.page-sidebar-menu > li.gestao-risco > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.gestao-risco > ul.sub-menu > li > a:hover {
    background: #dd9551;
}

/* Cor do icone dos módulos */
ul.page-sidebar-menu > li.gestao-risco > ul.sub-menu > li > a > i {
    color: #dd9551;
}

/* Cor dos items de menu */
ul.page-sidebar-menu > li.gestao-risco > ul.sub-menu li > ul.sub-menu > li > a {
    border-left: 10px solid #e3aa73;
}

/* Cor do icone dos items de menu */
ul.page-sidebar-menu > li.gestao-risco > ul.sub-menu li > ul.sub-menu > li > a > i {
    color: #e3aa73;
}

ul.page-sidebar-menu > li.gestao-risco > ul.sub-menu li > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.gestao-risco > ul.sub-menu li > ul.sub-menu > li > a:hover {
    background: #e3aa73;
}

/* Cor dos items de menu filhos*/
ul.page-sidebar-menu > li.gestao-risco > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
    border-left: 10px solid #eabf96;
}

ul.page-sidebar-menu > li.gestao-risco > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.gestao-risco > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a:hover {
    background: #eabf96;
}

/* CLASSE GESTAO-PREVIDENCIARIA(.gestao-prev) */
/*Cor dos tipos de módulo */
ul.page-sidebar-menu > li.gestao-prev > a {
    color: #796a84;
    border-left: 0px solid #796a84;
    border-top: 0px solid #796a84;
}

/*Cor do portlet*/
.portlet.box.gestao-prev {
    background-color: #796a84;
    border: 1px solid #796a84;
}

.portlet.box.gestao-prev > .portlet-title > .caption i.icon-stack-1x {
    color: #796a84;
}

ul.page-sidebar-menu > li.gestao-prev.tipo-modulo.open:after {
    background: #796a84;
}

/* Cor dos módulos */
ul.page-sidebar-menu > li.gestao-prev > ul.sub-menu > li > a {
    border-left: 10px solid #796a84;
}

/* Hover dos módulos */
ul.page-sidebar-menu > li.gestao-prev > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.gestao-prev > ul.sub-menu > li > a:hover {
    background: #796a84;
}

/* Cor do icone dos módulos */
ul.page-sidebar-menu > li.gestao-prev > ul.sub-menu > li > a > i {
    color: #796a84;
}

/* Cor dos items de menu */
ul.page-sidebar-menu > li.gestao-prev > ul.sub-menu li > ul.sub-menu > li > a {
    border-left: 10px solid #93879c;
}

/* Cor do icone dos items de menu */
ul.page-sidebar-menu > li.gestao-prev > ul.sub-menu li > ul.sub-menu > li > a > i {
    color: #93879c;
}

ul.page-sidebar-menu > li.gestao-prev > ul.sub-menu li > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.gestao-prev > ul.sub-menu li > ul.sub-menu > li > a:hover {
    background: #93879c;
}

/* Cor dos items de menu filhos*/
ul.page-sidebar-menu > li.gestao-prev > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
    border-left: 10px solid #aea5b5;
}

ul.page-sidebar-menu > li.gestao-prev > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.gestao-prev > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a:hover {
    background: #aea5b5;
}
