/* -----------------------------------------------------------------------


 Blueprint CSS Framework 1.0.1
 http://blueprintcss.org

   * Copyright (c) 2007-Present. See LICENSE for more info.
   * See README for instructions on how to use Blueprint.
   * For credits and origins, see AUTHORS.
   * This is a compressed file. See the sources in the 'src' directory.

----------------------------------------------------------------------- */

/* print.css */
body {line-height:1.5;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;color:#000;background:none;font-size:10pt;}
.container {background:none;}
hr {background:#ccc;color:#ccc;width:100%;height:2px;margin:2em 0;padding:0;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
h1, h2, h3, h4, h5, h6 {font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;}
code {font:.9em "Courier New", Monaco, Courier, monospace;}
a img {border:none;}
p img.top {margin-top:0;}
blockquote {margin:1.5em;padding:1em;font-style:italic;font-size:.9em;}
.small {font-size:.9em;}
.large {font-size:1.1em;}
.quiet {color:#999;}
.hide {display:none;}
a:link, a:visited {background:transparent;font-weight:700;text-decoration:underline;}

a[href]:after {
    content: "" !important;
}

ul.breadcrumb {
    display: none;
}

ul.nav.pull-right {
    display: none;
}

div.portlet-title {
    border-top: 1px solid black
}

div.portlet-title {
    border-bottom: 1px solid black
}

td.checkbox-column, th.checkbox-column, tr.filters, th.button-column, .grid-menu-acoes, td.botao-group > a {
    display: none;
    visibility: hidden;
}

td.botao-group {
    visibility: hidden;
    border-top: 1px solid black !important;
}

.alert {
    display: none;
    visibility: hidden;
}

.page-content {
    border-right: 1px solid #c9c9c9 !important
}

.page-content {
    border-top: 1px solid #c9c9c9 !important
}

.header-print {
    float: right;
}

div.main-portlet.portlet-body {
    min-height: 0px !important
}

table.detail-view td, table.detail-view th {
    padding: 3px 5px !important;
}