/*
Icones de estrela do menu
Quando o item é favoritável atribui-se a classe star-fav-menu
quando o item ja está entre os favoritos atribui-se a classe classe star-fav-menu-active
Autor: Tércio Garcia
Data: 24/03/2014
Versão: 0.8
*/

ul.page-sidebar-menu > li > ul.sub-menu > li ul.sub-menu li:hover > .star-fav-menu-active:before,
ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu li:hover > .star-fav-menu:before {
    color: #47423F !important;
}

ul.page-sidebar-menu > li > ul.sub-menu > li ul.sub-menu li > .star-fav-menu-active:before {
    content: "\f005";
    color: transparent;
    font-family: FontAwesome;
    float: left;
    margin-top: 6px;
    margin-left: 15px;
    display: inline;
    height: auto;
    font-size: 16px;
    font-weight: 300;
    text-shadow: none;
}

ul.page-sidebar-menu > li > ul.sub-menu > li ul.sub-menu li > .star-fav-menu:before {
    content: "\f006";
    color: transparent;
    font-family: FontAwesome;
    float: left;
    margin-top: 6px;
    margin-left: 15px;
    display: inline;
    position: absolute;
    z-index: 2;
    height: auto;
    font-size: 16px;
    font-weight: 300;
    text-shadow: none;
}
